.tabla-wrapper {
width: 100%;
overflow-x: auto;
padding: 1rem;
box-sizing: border-box;
}

.tabla-ph {
width: 100%;
min-width: 600px;

th.mat-header-cell,
td.mat-cell {
    text-align: center;
    padding: 0.75rem;
    font-size: 0.95rem;
}

th.mat-header-cell {
    background-color: #f0f0f0;
    font-weight: 600;
    color: #2c3e50;
}

tr.mat-row:nth-child(even) {
    background-color: #fafafa;
}

tr.mat-row:hover {
    background-color: #eef6ff;
}

@media (max-width: 480px) {
    th.mat-header-cell,
    td.mat-cell {
    font-size: 0.85rem;
    padding: 0.5rem;
    }

    .tabla-ph {
    min-width: unset;
    }
}
}


.Boton{
    width: 100%;
    color: rgb(23, 23, 23);
    background-color: rgba(95, 158, 160, 0.541) !important;
    font: bold 14px Arial, sans-serif;
    border-radius: 4px;
    padding: 6px 12px;
    text-transform: none;
}

.mensaje-vacio {
text-align: center;
padding: 20px;
font-size: 16px;
color: #888;
font-style: italic;
}

.centradoCabecera{
    text-align: center;
    justify-content: center;
    font-weight: bold;
    background-color: #d2d2d2 !important;
    color: #333;
}

.centrado{
    text-align: center;
    justify-content: center;
}

.tabla-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 140vh;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.tabla-scroll {
  flex: 1;
  overflow-x: auto;
  overflow-y: auto;
  max-height: 140vh;
}

.tabla-ph {
  min-width: 1200px;
  //table-layout: fixed;
  table-layout: auto;
  border-collapse: collapse;
}

.tabla-ph th,
.tabla-ph td {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.col-achi {
  width: 90px;
  min-width: 90px;
  max-width: 100px;
}


// .filtros-container {
//   display: flex;
//   align-items: center;
//   gap: 1rem;
//   margin-bottom: 1rem;

//   .buscador {
//     flex: unset;
//     width: 250px;
//   }

//   .radio-filtros {
//     display: flex;
//     gap: 1rem;
//     font-size: 0.9rem;

//     .mat-radio-button {
//       color: #2c3e50;
//     }
//   }
// }

// .filtros-container {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   gap: 8px;   
//   gap: 1rem;
//   margin-bottom: 1rem;
//   flex-wrap: wrap;

//   .buscador {
//     flex: unset;
//     width: 250px;
//   }

//   .radio-filtros {
//     display: flex;
//     gap: 1rem;
//     font-size: 0.9rem;

//     .mat-radio-button {
//       color: #2c3e50;
//     }
//   }

//   .selector-ahiba {
//     min-width: 200px;
//   }

//   .acciones {
//     display: flex;
//     align-items: center;
//   }

//   @media (max-width: 768px) {
//     flex-direction: column;
//     align-items: stretch;
//     gap: 0.75rem;

//     .buscador {
//       width: 100%;
//     }

//     .radio-filtros {
//       flex: 0 0 auto;
//       gap: 0.5rem;
//     }

//     .selector-ahiba {
//       width: 100%;
//     }

//     .acciones {
//       width: 100%;
//       justify-content: center;
//     }
//   }
// }

.filtros-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1rem;
  flex-wrap: wrap;

  .buscador {
    flex: 0 0 auto;
    width: 250px;
  }

  .radio-filtros {
    flex: 0 0 auto;
    display: flex;
    gap: 1rem;
  }

  .selector-ahiba-wrapper,
  .acciones {
    flex: 1 1 auto;
    min-width: 200px;
  }

  // Responsivo
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: stretch;
    gap: 0.75rem;

    .buscador,
    .selector-ahiba-wrapper,
    .acciones {
      width: 100%;
    }

    .radio-filtros {
      flex-direction: column;
      gap: 0.5rem;
    }
  }
}



.ahiba-label {
  position: absolute;
  top: 10px;     
  right: 10px;   
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  background: #d32f2f;
  padding: 6px 12px;
  border-radius: 4px;
}

.contador {
  text-align: center;
  font-weight: bold;
  //margin-bottom: 10px;
  color: #1976d2; 
}

.modal-container {
  display: flex;
  height: 550px;
  flex-direction: row;
  gap: 20px;
}

.lista-seleccionados {
  width: 200px;
  //background-color: #ffcdd2;
  padding: 10px;
  border-radius: 4px;
  max-height: 400px;
  overflow-y: auto;
}

.tabla-seleccionados {
  width: 100%;
  border-collapse: collapse;
}

.tabla-seleccionados th,
.tabla-seleccionados td {
  border: 1px solid #ccc;
  padding: 4px 6px;
  font-size: 10px;
  text-align: left;
}

.descripcion {
  font-weight: bold;
  color: #1976d2 !important;
}

.nroTubo {
  font-weight: bold;
  color:#d32f2f !important;
}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  max-width: 350px;
  margin: auto;
  position: relative;
  transform: scale(0.75);
  transform-origin: center;
}


.posicion-tubo {
  position: absolute;
  top: 33%;
  left: 50%;
  transform-origin: center;
  text-align: center;
  cursor: pointer;
}


.numero {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 3px;
}

.tubo {
  width: 10px;
  height: 40px;
  border: 2px solid #333;
  border-radius: 12px 12px 40% 40%;
  background: linear-gradient(to top, #e0e0e0, #fafafa);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.posicion-tubo.seleccionado .tubo {
  background: #4caf50;
  box-shadow: 0 0 8px rgba(0, 128, 0, 0.6);
}

.posicion-tubo.ocupado .tubo{ 
  background: orange;  
  cursor: not-allowed; 
}


.botones-container {
  display: flex;
  justify-content: center; 
  align-items: center;     
  gap: 15px;              
  margin-top: -65px;
  //margin-bottom: 55px;
  // padding-bottom: 55px;
}

.btn-cancelar {
  background-color: #f44336;
  color: #fff;
}

.btn-limpiar {
  background-color: #ffeb3b; 
  color: #000;
}

.fila-mosquito {
  background-color: #fff59d;
}


.spinner-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.spinner-text {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 30px;
  text-align: center;
}


.loader {
  width: 24px;
  height: 80px;
  display: block;
  margin: 35px auto 0;
  border: 1px solid #FFF;
  border-radius: 0 0 50px 50px;
  position: relative;
  box-shadow: 0px 0px #FF3D00 inset;
  background-image: linear-gradient(#FF3D00 100px, transparent 0);
  background-position: 0px 0px;
  background-size: 22px 80px;
  background-repeat: no-repeat;
  box-sizing: border-box;
  animation: animloader 6s linear infinite;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  border: 1px solid #FFF;
  border-radius: 50%;
  width: 28px;
  height: 6px;
}

.loader::before {
  content: '';
  box-sizing: border-box;
  left: 0;
  bottom: -4px;
  border-radius: 50%;
  position: absolute;
  width: 6px;
  height: 6px;
  animation: animloader1 6s linear infinite;
}

@keyframes animloader {
  0% {
    background-position: 0px 80px;
  }

  100% {
    background-position: 0px 0px;
  }
}

@keyframes animloader1 {
  0% {
    box-shadow: 4px -10px rgba(255, 255, 255, 0), 6px 0px rgba(255, 255, 255, 0), 8px -15px rgba(255, 255, 255, 0), 12px 0px rgba(255, 255, 255, 0);
  }

  20% {
    box-shadow: 4px -20px rgba(255, 255, 255, 0), 8px -10px rgba(255, 255, 255, 0), 10px -30px rgba(255, 255, 255, 0.5), 15px -5px rgba(255, 255, 255, 0);
  }

  40% {
    box-shadow: 2px -40px rgba(255, 255, 255, 0.5), 8px -30px rgba(255, 255, 255, 0.4), 8px -60px rgba(255, 255, 255, 0.5), 12px -15px rgba(255, 255, 255, 0.5);
  }

  60% {
    box-shadow: 4px -60px rgba(255, 255, 255, 0.5), 6px -50px rgba(255, 255, 255, 0.4), 10px -90px rgba(255, 255, 255, 0.5), 15px -25px rgba(255, 255, 255, 0.5);
  }

  80% {
    box-shadow: 2px -80px rgba(255, 255, 255, 0.5), 4px -70px rgba(255, 255, 255, 0.4), 8px -120px rgba(255, 255, 255, 0), 12px -35px rgba(255, 255, 255, 0.5);
  }

  100% {
    box-shadow: 4px -100px rgba(255, 255, 255, 0), 8px -90px rgba(255, 255, 255, 0), 10px -120px rgba(255, 255, 255, 0), 15px -45px rgba(255, 255, 255, 0);
  }
}