.contenedor-dosificacion {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  box-sizing: border-box;
}

.menu-lateral {
  width: 130px;
  background-color: #f5f5f5;
  border-radius: 6px;
  padding: 0.5rem 0;

  .mat-list-item {
    font-weight: 500;
    color: #2c3e50;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
  }

  .mat-list-item:hover {
    background-color: #e0e0e0;
  }
}

.tabla-contenido {
  flex: 1;
  overflow-x: auto;
}

.tabla-dosificacion {
  // width: 100%;
  width: 1200px;
  min-width: 800px;

  th.mat-header-cell,
  td.mat-cell {
    text-align: center;
    padding: 0.75rem;
    font-size: 0.95rem;
  }

  th.mat-header-cell {
    background-color: #f0f0f0;
    font-weight: 600;
    color: #2c3e50;
  }

  tr.mat-row:nth-child(even) {
    background-color: #fafafa;
  }

  tr.mat-row:hover {
    background-color: #eef6ff;
  }
}

.mensaje-vacio {
  text-align: center;
  padding: 20px;
  font-size: 16px;
  color: #888;
  font-style: italic;
}

.Boton{
    width: 100%;
    color: rgb(23, 23, 23);
    background-color: rgba(95, 158, 160, 0.541) !important;
    font: bold 14px Arial, sans-serif;
    border-radius: 4px;
    padding: 6px 12px;
    text-transform: none;
}

.centradoCabecera{
    text-align: center;
    justify-content: center;
    font-weight: bold;
    background-color: #d2d2d2 !important;
    color: #333;
}

.centrado{
    text-align: center;
    justify-content: center;
}

.col-achi {
  width: 70px;
  min-width: 70px;
  max-width: 80px;
}

.col-achi2{
  width: 120px;
  min-width: 120px;
  max-width: 130px;
}

.titulo-con-botones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.botones-extra {
    display: flex;
    gap: 10px;
}

.botones-extra button {
    min-width: 100px;
}
