<div class="agregar-opcion-container">
  <div class="selector-botones-wrapper">
    <div *ngIf="data.Title === 'Copiar'">
      <h2>Copia de Corrida # {{ this.correlativoAnterior}}</h2>
    </div>

    <!-- SELECTOR FAMILIA -->
    <div class="tipo-formulacion-wrapper">
      <mat-form-field appearance="fill">
        <mat-label>Tipo de Proceso</mat-label>
        <mat-select [(ngModel)]="parametros.tiposFormulacion" (selectionChange)="actualizarTotalFinal()">
          <mat-option *ngFor="let tipo of tiposFormulacion" [value]="tipo.codigo">
            {{ tipo.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    
    <!-- SELECTOR COLORANTES -->
    <div class="selector-agregar">
      <mat-form-field appearance="fill">
        <mat-label>Agregar colorante</mat-label>
        <input type="text" matInput [formControl]="coloranteControl" 
        [matAutocomplete]="auto"
        [autofocus]="false"
        #inputColorante>
        <mat-autocomplete #auto="matAutocomplete" 
        [displayWith]="mostrarNombre" 
        (optionSelected)="onColoranteSeleccionado($event)"
        >
          <mat-option *ngFor="let c of colorantesFiltrados" [value]="c">
            {{ c.nombre }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    
    <div class="botones-column">
      <button mat-raised-button color="primary" (click)="habilitarCambios()">Habilitar cambios</button>
      <!-- <button mat-raised-button color="primary" (click)="guardar()">Guardar</button> -->
      <button mat-raised-button color="primary" (click)="ejecutarPorPartidasAgrupadasSecuencial()">Guardar</button>
      <button mat-raised-button color="warn" (click)="cerrar()">Cerrar</button>
    </div>
  </div>

    <section class="colorantes-section">
      <h3>Colorantes</h3>
      <div class="colorantes-scroll-wrapper">
          <div class="colorantes-grid">
          <div class="colorante-header">Codigo</div>
          <div class="colorante-header">Colorante</div>
          <div class="colorante-header">%</div>
          <div class="colorante-header">Ajuste</div>
          <div class="colorante-header">%</div>
          <div class="colorante-header">Acción</div>

          <ng-container *ngFor="let colorante of colorantesSeleccionados">
              <div class="colorante-cell codigo">{{ colorante.codigo }}</div>
              <div class="colorante-cell nombre">{{ colorante.nombre }}</div>
              <div class="colorante-cell inicial">
                <input class="colorante-inicial" 
                type="number"
                [(ngModel)]="colorante.inicial"
                (ngModelChange)="limitarDecimales(colorante); actualizarFinal(colorante)"
                step="0.01"
                (keypress)="validarNumero($event)" 
                (blur)="formatearDosDecimales(colorante)"
                [disabled]="data.Title === 'Copiar'"/>
              </div>
              <div class="colorante-cell ajuste">
              <button mat-mini-button color="primary" (click)="ajustar(colorante, -0.5); actualizarFinal(colorante)">−</button>
              <input class="casillaAjuste" 
                    type="number" 
                    [(ngModel)]="colorante.ajuste" 
                    step="0.01" 
                    (ngModelChange)="actualizarFinal(colorante)" 
                    (keypress)="validarNumero($event)"
                    (blur)="formatearDosDecimales(colorante)" />
              <button mat-mini-button color="primary" (click)="ajustar(colorante, 0.5); actualizarFinal(colorante); " >+</button>
              </div>
              <!-- <div class="colorante-cell final">{{ calcularFinal(colorante).toFixed(5) }}</div> -->
              
              <div class="colorante-cell final">
                <input type="number"
                      class="colorante-final"
                      [(ngModel)]="colorante.final"
                      step="0.00001"
                      (ngModelChange)="actualizarDesdeFinal(colorante)"}
                      (keypress)="validarNumero($event)" 
                      (blur)="formatearDosDecimales(colorante)"
                      [disabled]="data.Title === 'Insertar'" />
              </div>

              <div class="colorante-cell accion">
              <button mat-button (click)="quitarColorante(colorante)">
                <a><mat-icon>delete</mat-icon></a>
              </button>
              </div>
          </ng-container>
          </div>
    
          <div class="colorantes-total">
            <strong>Total % Final:</strong> {{ totalFinalColorantes.toFixed(4) }}
          </div>
      </div>
    </section>

    <section class="parametros-section">
      <h3>Jabonado - Curva - Fijado</h3>

      <mat-form-field appearance="fill">
        <mat-label>CAN JABONADAS</mat-label>
        <input matInput type="number" [(ngModel)]="parametros.jabonadas" [disabled]="!cambiosHabilitados"/>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>CURVA JABONADA</mat-label>
        <mat-select [(ngModel)]="parametros.curva" [disabled]="!cambiosHabilitados">
          <mat-option *ngFor="let curva of curvas" [value]="curva.codigo">{{ curva.nombre }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>FIJADO</mat-label>
        <mat-select [(ngModel)]="parametros.fijado" [disabled]="!cambiosHabilitados">
          <mat-option *ngFor="let fijado of fijados" [value]="fijado.codigo">{{ fijado.nombre }}</mat-option>
        </mat-select>
      </mat-form-field>
    </section>

  <div class="seccion-doble">
    <section class="quimicos-section">
      <h3>Carbonato / Soda</h3>
    <div class="quimico-row" *ngFor="let producto of productos">
      <span class="col-nombre">{{ producto.nombre }}</span>

      <mat-form-field appearance="outline" class="col-gr">
        <mat-label>Cantidad (gr)</mat-label>
        <input matInput type="number" [(ngModel)]="producto.cantidad" [disabled]="!cambiosHabilitados"/>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-porcentaje">
        <mat-label>Ajuste</mat-label>
        <input 
        matInput 
        type="number"
        [(ngModel)]="producto.porcentaje"
        (ngModelChange)="actualizarCantidad(producto)"
        step="0.5"  
        [disabled]="!cambiosHabilitados"/>
      </mat-form-field>
    </div>
    </section>

    <section class="datos-section" >
      <h3>Baño - Peso - Volumen</h3>
      <mat-form-field appearance="fill">
        <mat-label>Relación baño</mat-label>
        <input matInput type="number" [ngModel]="datos.relacionBano | number:'1.2-2'" step="1" min="0" [disabled]="!cambiosHabilitados"/>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Peso de muestra</mat-label>
        <input matInput type="number" [ngModel]="datos.pesoMuestra | number: '1.2-2'" (ngModelChange)="calcularRelacionBano()" [disabled]="!cambiosHabilitados"/>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Volumen</mat-label>
        <input matInput type="number" [(ngModel)]="datos.volumen" (ngModelChange)="calcularRelacionBano()" [disabled]="!cambiosHabilitados"/>
      </mat-form-field>
    </section>
  </div>
</div>

<!-- Spinner global -->
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" type="custom" [fullScreen]="true">
  <div class="spinner-wrapper">
    <p class="spinner-text">ENVIANDO INFORMACIÓN</p>
    <div class="loader"></div>
  </div>
</ngx-spinner>
