<div class="laboratorio-container">
    
  <div class="laboratorio-header">
    <div class="filtros">
      <label><input type="radio" name="estado" [checked]="estadoSeleccionado === 'cola'" (change)="cambiarEstado('cola')" /> Cola Autolab</label>
      <label><input type="radio" name="estado" [checked]="estadoSeleccionado === 'dispensado'" (change)="cambiarEstado('dispensado')"/> Dispensado</label>
    </div>
    <ng-container *ngIf="estadoSeleccionado === 'cola'">
    <button mat-raised-button color="primary"
    (click)="enviarADispensar()"
    [disabled]="!haySeleccionados()"
    >ENVIAR A DISPENSAR</button>
    </ng-container>

    <ng-container *ngIf="estadoSeleccionado === 'dispensado'">
    <mat-form-field appearance="outline" class="selector-ahiba">
      <mat-label>AHIBA</mat-label>
      <mat-select 
      [(value)]="ahibaSeleccionado"
      (selectionChange)="onSeleccionarAhiba($event)">
        <mat-option *ngFor="let curva of curvasAhiba" [value]="curva.codigo">{{ curva.nombre }}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="acciones">
      <button mat-raised-button color="primary"
      [disabled]="!haySeleccionadosDispensados()"
      (click)="cargarAAHIBA()" class="botones-dosificacion">CARGAR A AHIBA</button>
      <button mat-raised-button color="accent" (click)="onCreate()" class="botones-dosificacion">DOSIFICACIÓN</button>
    </div>
    </ng-container>

  </div>

  <div class="tabla-wrapper" *ngIf="estadoSeleccionado === 'cola'">
  <table mat-table [dataSource]="dataSource" class="tabla-laboratorio" matSort>

    <ng-container matColumnDef="seleccion">
    <th mat-header-cell *matHeaderCellDef class="centradoCabecera">
      <mat-checkbox
      [checked]="isAllSelected()"
      [indeterminate]="isIndeterminate()"
      (change)="toggleAllRows($event.checked)">

      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox [(ngModel)]="row.seleccionado" class="centrado"></mat-checkbox>
    </td>
    </ng-container>

    <ng-container matColumnDef="corr_Carta">
      <th mat-header-cell *matHeaderCellDef class="centradoCabecera">#SDC</th>
      <td mat-cell *matCellDef="let row" class="centrado">{{ row.corr_Carta }}</td>
    </ng-container>

    <ng-container matColumnDef="sec">
      <th mat-header-cell *matHeaderCellDef class="centradoCabecera">Secuencia</th>
      <td mat-cell *matCellDef="let row" class="centrado">{{ row.sec }}</td>
    </ng-container>

    <ng-container matColumnDef="correlativo">
      <th mat-header-cell *matHeaderCellDef class="centradoCabecera">Correlativo</th>
      <td mat-cell *matCellDef="let row" class="centrado">{{ row.correlativo }}</td>
    </ng-container>

    <ng-container matColumnDef="descripcion_Color">
      <th mat-header-cell *matHeaderCellDef class="centradoCabecera">Color</th>
      <td mat-cell *matCellDef="let row">{{ row.descripcion_Color }}</td>
    </ng-container>

    <ng-container matColumnDef="jab_Des">
      <th mat-header-cell *matHeaderCellDef class="centradoCabecera">Curva</th>
      <td mat-cell *matCellDef="let row" class="centrado">{{ row.jab_Des }}</td>
    </ng-container>

    <ng-container matColumnDef="volumen">
      <th mat-header-cell *matHeaderCellDef class="centradoCabecera">Volumen</th>
      <td mat-cell *matCellDef="let row" class="centrado">{{ row.volumen }}</td>
    </ng-container>

    <!-- Header y filas -->
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>
  </div>
  <div *ngIf="dataSource.data.length === 0 && estadoSeleccionado === 'cola'" class="mensaje-vacio">
    No hay items disponibles.
  </div>

  <!-- TABLA DISPENSADOS -->
  <div class="tabla-wrapper" *ngIf="estadoSeleccionado === 'dispensado'">
    <table mat-table [dataSource]="dataSourceDispensado" class="tabla-laboratorio" matSort>

      <!-- Checkbox -->
      <ng-container matColumnDef="seleccionDispensado">
        <th mat-header-cell *matHeaderCellDef class="centradoCabecera">
          <mat-checkbox
          [checked]="isAllSelectedDispensado()" 
          [indeterminate]="isIndeterminateDispensado()" 
          (change)="toggleAll($event.checked)"
          class="centrado"></mat-checkbox>
          
        </th>
        <td mat-cell *matCellDef="let row" class="centrado">
          <mat-checkbox [(ngModel)]="row.seleccionado"></mat-checkbox>
        </td>
      </ng-container>

      <!-- Columnas -->
      <ng-container matColumnDef="corr_Carta">
        <th mat-header-cell *matHeaderCellDef class="centradoCabecera">#SDC</th>
        <td mat-cell *matCellDef="let row" class="centrado">{{ row.corr_Carta }}</td>
      </ng-container>

      <ng-container matColumnDef="sec">
        <th mat-header-cell *matHeaderCellDef class="centradoCabecera">Secuencia</th>
        <td mat-cell *matCellDef="let row" class="centrado">{{ row.sec }}</td>
      </ng-container>

      <ng-container matColumnDef="correlativo">
        <th mat-header-cell *matHeaderCellDef class="centradoCabecera">Correlativo</th>
        <td mat-cell *matCellDef="let row" class="centrado">{{ row.correlativo }}</td>
      </ng-container>

      <ng-container matColumnDef="descripcion_Color">
        <th mat-header-cell *matHeaderCellDef class="centradoCabecera">Color</th>
        <td mat-cell *matCellDef="let row">{{ row.descripcion_Color }}</td>
      </ng-container>

      <ng-container matColumnDef="jab_Des">
        <th mat-header-cell *matHeaderCellDef class="centradoCabecera">Curva</th>
        <td mat-cell *matCellDef="let row" class="centrado">{{ row.jab_Des }}</td>
      </ng-container>

      <ng-container matColumnDef="volumen">
        <th mat-header-cell *matHeaderCellDef class="centradoCabecera">Volumen</th>
        <td mat-cell *matCellDef="let row" class="centrado">{{ row.volumen }}</td>
      </ng-container>

      <ng-container matColumnDef="sal">
        <th mat-header-cell *matHeaderCellDef class="centradoCabecera">Sal</th>
        <td mat-cell *matCellDef="let row" class="centrado">{{ row.sal }}</td>
      </ng-container>

      <ng-container matColumnDef="sulfato">
        <th mat-header-cell *matHeaderCellDef class="centradoCabecera">Sulfato</th>
        <td mat-cell *matCellDef="let row" class="centrado">{{ row.sulfato }}</td>
      </ng-container>

      <ng-container matColumnDef="pes_Mue">
        <th mat-header-cell *matHeaderCellDef class="centradoCabecera">Peso Muestra</th>
        <td mat-cell *matCellDef="let row" class="centrado">{{ row.pes_Mue }}</td>
      </ng-container>

      <ng-container matColumnDef="ph_Ini">
        <th mat-header-cell *matHeaderCellDef class="centradoCabecera">Ph Inicio</th>
        <td mat-cell *matCellDef="let row" class="centrado">
          <!-- <a mat-cell *matCellDef="let row">{{ row.ph_Inicio }}</a> -->
          <a mat-button *ngIf="row.ph_Ini == 0" (click)="ingresarPH(row)" class="Boton">AGREGAR</a>
          <a mat-button *ngIf="row.ph_Ini != 0" (click)="ingresarPH(row)" class="Boton">{{ row.ph_Ini }}</a>          
        </td>
          <!-- <a mat-button *ngIf="data_req.nro_Precinto_Cierre != ''" (click)="onUpdatePrecintoCierre(data_req)" class="Boton">{{data_req.nro_Precinto_Cierre}}</a></td> -->
      </ng-container>

      <ng-container matColumnDef="detalle">
        <th mat-header-cell *matHeaderCellDef class="centradoCabecera">Detalle</th>
        <td mat-cell *matCellDef="let row" class="centrado">
          <button mat-button color="primary" (click)="verReceta(row)">VER</button>
        </td>
      </ng-container>

      <!-- Renderizado -->
      <tr mat-header-row *matHeaderRowDef="columnsToDisplayDispensado"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplayDispensado;"></tr>
    </table>
  </div>
  <div *ngIf="dataSourceDispensado.data.length === 0 && estadoSeleccionado === 'dispensado'" class="mensaje-vacio">
    No hay items disponibles.
  </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" type="custom" [fullScreen]="true">
  <div class="spinner-wrapper">
    <p class="spinner-text">ENVIANDO INFORMACIÓN</p>
    <div class="loader"></div>
  </div>
</ngx-spinner>
