<mat-tab-group class="tabs" (selectedIndexChange)="onTabChange($event)">
  <mat-tab label="Cola de trabajo"></mat-tab>
  <mat-tab label="Hoja de formulación"></mat-tab>
  <mat-tab label="Dispensado en Autolab"></mat-tab>
</mat-tab-group>
<!-- <mat-tab-nav-bar backgroundColor="primary">
  <a mat-tab-link
     [routerLink]="'/ColaTrabajo'"
     routerLinkActive #rla1="routerLinkActive"
     [active]="rla1.isActive">
    Cola de trabajo
  </a>

  <a mat-tab-link
     [routerLink]="'/HojaFormulacion'"
     routerLinkActive #rla2="routerLinkActive"
     [active]="rla2.isActive">
    Hoja de formulación
  </a>

  <a mat-tab-link
     [routerLink]="'/dispensado-autolab'"
     routerLinkActive #rla3="routerLinkActive"
     [active]="rla3.isActive">
    Dispensado en Autolab
  </a>
</mat-tab-nav-bar> -->
<!-- <router-outlet></router-outlet> -->