.mantenimiento-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.mantenimiento-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  mat-radio-group {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .acciones-header { 
    display: flex; 
    gap: 2rem;
  }

  .btn-cancelar { 
    font-weight: bold; 
    order: 2px solid white; 
    background-color: red; 
    color: white;
  }
}

.tabla-responsive {
  overflow-x: auto;

  table {
    width: 100%;
    min-width: 600px;

    th {
      font-weight: 600;
      color: #2c3e50;
    }

    td {
      vertical-align: middle;
    }

    button {
      margin-right: 0.5rem;
    }
  }
}


///////
.modal-content {
  padding-top: 1rem;

  .full-width {
    margin-top: 1rem;
    width: 100%;
  }
}
//////
/// 
.modal-content-proceso {
  padding-top: 1rem;

  .form-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 1rem;
  }
}
